body{
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    background-color:deeppink;

}

.image-card{
    width: 300px;
    background-color: white;
    border-radius: 5px;
    display: inline-block;
    position: relative ;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.image-card img {
    width: 100%;
    display: block;
}

.badge {
    position: absolute;
    top:10px;
    right: 10px;
    background-color: red;
    color: white;
    font-size: 14px;
    font-weight: bold;

    padding: 4px 8px;
    border-radius: 8px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;

    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-card:hover .overlay {
    opacity: 1;
}